// @import url('../../assets/fonts/mine-sweeper.ttf')

@font-face
    font-family: main-font
    src: url('../../assets/fonts/mine-sweeper.ttf')

$font: 'main-font', sans-serif

// @mixin flex($just: flex-start, $align: stretch)
//     display: flex
//     justify-content: $just
//     align-items: $align

// @mixin font($w, $s, $h, $a: left, $ls: 0)
//     font-weight: $w
//     font-size: $s
//     line-height: $h
//     text-align: $a
//     letter-spacing: $ls

// @mixin img($s, $p: 0 0)
//     background-image: url($s)
//     background-repeat: no-repeat
//     background-position: $p

$desktop: 1023.5px
$tablet: 767.5px
$mobile: 320px

html
    scroll-behavior: smooth

p, h1, html, body, ul
    margin: 0

body
    font-family: $font

header, footer
    background-color: #c0c0c0
    height: 70px
    display: flex
    align-items: center

header
    justify-content: center

a
    &:link, &:active, &:visited
        color: black
        text-decoration: none
    &:hover
        color: white

ul
    width: 100%
    list-style: none
    display: flex
    padding: 0
    justify-content: space-around

section
    height: calc(100vh - 140px)
    width: 100%









/////////////////////////////////////////////////////////////////////////////////////////////////////    
///////////////////////////////////////////////MOBILE////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////

// @media screen and (max-width: $tablet)
//     .intro
//         min-height: 500px
//         background-image: url('../../assets/images/bg.jpg')
//         background-attachment: fixed
//         display: flex
//         justify-content: center
//         flex-direction: column
//         align-items: center
//         color: white