@font-face {
  font-family: 'Minesweeper';
  src: url('../../public/fonts/mine-sweeper.ttf');
}

@font-face {
  font-family: 'Bittypix';
  src: url('../../public/fonts/bittypix-countdown.ttf');
}

body {
  font-family: 'Minesweeper', sans-serif;
}
